<div class="welcomeDiv">
    <h3 style="color:rgba(94, 196, 20, 0.778);" class="welcome"> Bienvenido {{usuario}} </h3>
    <form action="">
        <input type="submit" class='' value="Logout">
    </form>
    
</div>