<div id="formContent" class="logFormContainer">
    <!-- Icon -->
    <div class="logMainScreen">
        <div class=>
            <img src="/static/img/userLoginImg.webp" id="icon" class="loginIcon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form class="loginForm">
            <input type="text" id="login" name="usuario" placeholder="usuario">
            <p class="errorLoginText"> {{errorLogin}} </p>
            {{!-- <input type="text" id="password"  name="login" placeholder="contraseña"> --}}
            <input type="submit" class='loginSubmitButton' value="Log In">
        </form>
    </div>
</div>